@font-face {
	font-family: 'Rounded Mplus 1c';
	src:
		url('RoundedMplus1c-Thin.woff2') format('woff2'),
		url('RoundedMplus1c-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Rounded Mplus 1c';
	src:
		url('RoundedMplus1c-Light.woff2') format('woff2'),
		url('RoundedMplus1c-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Rounded Mplus 1c';
	src:
		url('RoundedMplus1c-Regular.woff2') format('woff2'),
		url('RoundedMplus1c-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rounded Mplus 1c';
	src:
		url('RoundedMplus1c-Medium.woff2') format('woff2'),
		url('RoundedMplus1c-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Rounded Mplus 1c';
	src:
		url('RoundedMplus1c-Bold.woff2') format('woff2'),
		url('RoundedMplus1c-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-face: 'Rounded Mplus 1c';
	src:
		url('RoundedMplus1c-ExtraBold.woff2') format('woff2'),
		url('RoundedMplus1c-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Rounded Mplus 1c';
	src:
		url('RoundedMplus1c-Black.woff2') format('woff2'),
		url('RoundedMplus1c-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
