@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar-hidden {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.scrollbar-hidden::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
}
