@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar-hidden {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none; /* Chrome, Safari, Opera */
		}
	}

	.code-line-pink {
		@apply w-fit rounded border-b-4 border-red-400 bg-red-200 px-1 font-mono leading-tight text-gray-700;
	}

	.block-stone-300 {
		@apply m-auto rounded-2xl bg-stone-300 bg-opacity-10;
	}

	.indent-1 {
		margin-left: 2rem;
	}

	.animation-dalay-500 {
		animation-delay: 0.5s;
	}

	.animation-delay-1000 {
		animation-delay: 1s;
	}

	.animation-delay-1500 {
		animation-delay: 1.5s;
	}

	.animation-delay-2000 {
		animation-delay: 2s;
	}

	.animation-delay-4000 {
		animation-delay: 4s;
	}
}
