@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-bkg1: 14deg 79% 72%;
		--color-bkg2: 60deg 53% 93%;
		--color-bkg3: 14deg 79% 80%;
		--color-content1: 210deg 20% 0%;
		--color-content2: 210deg 5% 30%;
		--color-accent1: 0deg 60% 50%;
		--color-accent2: 45deg 100% 75%;
		--color-accent3: 0deg 0% 0%;
		--color-accent4: 155deg 80% 50.2%;
	}

	:root[data-theme='dark'] {
		--color-bkg1: 210deg 20% 0%;
		--color-bkg2: 345deg 45% 45%;
		--color-bkg3: 210deg 20% 5%;
		--color-content1: 217deg 32.6% 98.5%;
		--color-content2: 216deg 12% 75%;
		--color-content3: 155deg 80% 50.2%;
		--color-accent1: 155deg 80% 50.2%;
		--color-accent3: 45deg 100% 75%;
		--color-accent4: 356deg 54% 54%;
	}

	.gradient-background {
		@apply bg-gradient-to-b from-bkg-1 to-bkg-2;
	}
}

@layer utilities {
	.scrollbar-hidden {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none; /* Chrome, Safari, Opera */
		}
	}
}
